@import '../projects/figma86-ui/src/lib/styles/tokens.scss';

/* Global styles for minimalistic design */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: var(--ocn-background);
  color: var(--ocn-text);
  font-family: var(--font-family-base);
}
